<h1>Bad Entity Table</h1>

<p>
  The table in this component is hardly usable.
</p>

<p>
  It uses one NgRx selector to pull all data rows
  into an array at once. If one row changes, the whole
  selection is invalidated and renewed.
</p>

<p>
  Try entering a different population value:
  Each time a population value is changed, the whole table is updated,
  and consequently the input field focus is lost.
</p>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items$ | async">
      <td>{{ item.name }}</td>
      <td>
        <input class="number" [ngModel]="item.population" (ngModelChange)="updatePopulation(item, $event)"
          type="number">
      </td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
